.message-preview {
    width: 70vw;
}

.message-preview textarea {
    resize: none;
    border: none;
    background: none transparent;
    --webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.message-preview textarea::placeholder {
    color: inherit;
    opacity: 0.5;
}

.message-sender-input {
    display: block;
    width: 70vw;
    margin: 0 auto 0.5em auto;
    border: none;
    background: none transparent;
    --webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}