.message {
    position: relative;
    display: block;

    border-radius: 1em;
    
    width: 100%;
    padding-bottom: 100%;

    margin: 0 auto 8.26% auto;  /* aspect ratio */
}

.message-text {
    display: block;
    text-align: center !important;
    text-align-last: center !important;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-overflow: ellipsis;
}

/* 184x152 */

.message::after {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 10%;
    top: calc(100%);
    width: 10%;
    padding-bottom: 8.26%;  /* aspect ratio */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.message-blue {
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.5em;
}

.message-blue::after {
    background-image: url("../assets/blue-arrow.png");
}

.message-green {
    background-color: var(--green);
    color: var(--white);
    font-size: 1.5em;
}

.message-green::after {
    background-image: url("../assets/green-arrow.png");
}

.message-red {
    background-color: var(--red);
    color: var(--white);
    font-size: 1.5em;
}

.message-red::after {
    background-image: url("../assets/red-arrow.png");
}

.message-purple {
    background-color: var(--purple);
    color: var(--white);
    font-size: 1.5em;
}

.message-purple::after {
    background-image: url("../assets/purple-arrow.png");
}

.message-orange {
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.5em;
}

.message-orange::after {
    background-image: url("../assets/orange-arrow.png");
}


