@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    outline: none;

    --dark: #48598d;
    --light: #dcdffa;
    --medium1: #a0a9ed;
    --medium2: #8090d6;
    --medium3: #5266b6;
    --black: #1b1b1b;
    --white: #f8f8ff;
    --side-spacing-desktop: 8vw;
}

.purple-backup {
    --dark: #81488D;
    --light: #F6DCFA;
    --medium1: #D180E1;
    --medium2: #C880D6;
    --medium3: #A552B6;
    --black: #3E004B;
    --white: #FEF8FF;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden !important;
    font-family: "Quicksand", "San Francisco", "Segoe UI", "Helvetica", "Roboto", sans-serif;
    background-color: var(--light);
}

.button {
    text-decoration: none !important;
    color: var(--white) !important;
    background-color: var(--medium2);
    padding: 1em 1.5em;
    font-size: 1.15em;
    line-height: 100%;
    display: inline-block;
    border-radius: 2em;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--medium3);
}

.button-default {
    background-color: var(--dark);
    font-weight: bold;
}

.h-spacer {
    display: inline-block;
}

.v-spacer {
    display: block;
}